@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: 100%;
    object-fit: cover;
}

html, body {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}

h1,h2 {
    color: hsl(0, 0%, 100%);
}

h1 span {
    color: hsl(277, 64%, 61%);
}

.div-clr {
    clear: both;
}

.card-body {
    width: 75%;
    margin: 4rem auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
    overflow: hidden;
}

.card-img {
    position: relative;
    background-color: hsl(277, 64%, 61%);
}

.card-img img {
    mix-blend-mode: multiply;
    width: 100%;
    float: left;
}

.card-content {
    padding: 3rem;
    text-align: center;
}

.card-text p {
    margin: 2rem 0;
}

.card-stats {
    display: flex;
    flex-direction: column;
}

.card-stats-item {
    margin-top: 2rem;
}

.card-stats p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Lexend Deca";
    text-transform: uppercase;
}

.card-img--desktop {
    display: none;
}

@media all and (min-width: 800px) {
    html, body {
        position: relative;
        min-height: 100vh;
    }

    .card-body {
        display: flex;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
    }

    .card-content {
        text-align: left;
        width: 50%;
        padding: 2rem;
        padding: min(5vw, 6rem);
    }

    .card-stats {
        flex-direction: row;
        justify-content: space-between;
        font-size: clamp(.8rem, 1.2vw, 1.1rem);
    }

    .card-img {
        width: 50%;
    }

    .card-img--desktop {
        display: block;
    }

    .card-img--mobile {
        display: none;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
